body{
    height: 100%;
    position: fixed;
    
    width: 100%;
}
*, *:before, *:after {
    box-sizing: border-box;
  }
.canvas{
   
    position: fixed;
  
}

.ard{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ard li{
    list-style: none;
    padding: 15px 15px;
    color: #d35400;
    font-family: 'Open Sans', sans-serif;
}
.dark{
    background-color: #2d3436;
}
